<nav class="navbar" *ngIf="!meetService.isMeetPage">
    <div class="container-fluid">
      <a class="navbar-brand px-5" href="#">
        <img id="conceptArt" src="../../../assets/logo-1.svg" alt="pic" width="15%" height="50%">&nbsp;
        <img id="conceptArt" src="../../../assets/logo-2.svg" alt="pic" width="50%" height="80%"> 
      </a>
        <form class="d-flex">
          <!-- <button id="signInBtn" class="btn px-5 me-3">Sign in</button> -->
          <!-- <button class="btn px-5 btn-light me-3" routerLink="/jitsi">Join a meeting</button> -->
          <button id="startmeetingBtn" class="btn btn-primary px-5 me-5" role="button" (click)="createMeet()">Start a meeting</button>
          <app-schedule-meet></app-schedule-meet>
        </form>
      </div>
</nav>


