<footer *ngIf="!meetService.isMeetPage">
        <div class="row">
                <div class="col-md-2 ml-3" style="max-width: fit-content;">Terms & Conditions</div>
                <div class="col-md-1" style="max-width: fit-content;">|</div>
                <div class="col-md-2" style="max-width: fit-content;">Privacy Policy</div>
                <div class="col-md-1" style="max-width: fit-content;">|</div>
                <div class="col-md-6" style="max-width: fit-content; white-space: nowrap; overflow: hidden;">Copyright 2022 Worktez All Rights Reserved</div>
        </div>
</footer>