<section id="homePage">
        <div class="row">
            <div class="col p-5">
                <div id="showContent">
                    <h1 id="headingLine">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a lectus semper, suscipit elit a, hendrerit tortor.
                    </h1>
                    <br/>
                    <button class="btn btn-primary px-5" role="button" (click)="createMeet()">Start a meeting</button>
                </div>
                <br> 
                <!-- <div class="signup">
                    Don't have an account? <a href="#">Signup</a> 
                </div> -->
            </div>
            <div class="col pe-0 pt-5" id="conceptArt">
                <img id="conceptArt" src="../../../assets/homePageart.svg" alt="pic" width="70%" height="80%"> 
            </div>
        </div>
</section>